@import "../../themeColors";
@import "../../styles/globalFontMixins";
@import "../../styles/global.scss";

.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
  > h1 {
    @include globalInterFont;
    color: $text-primary-1;
  }
}
