@import "../../styles/global.scss";

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: 0.5s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-color: $bg-primary-2;
  color: antiquewhite;
  border: 1px solid;
  border-radius: 8px;
}

.carousel-item:hover {
  cursor: pointer;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  > button {
    margin-top: 30px;
  }

  .active {
    background-color: green;
    color: aliceblue;
  }
}
